html {
  background-color: white;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#settings-container {
  display: flex;
  background-color: #0d0d0d;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  margin: 0px;
  color: white;
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

#scale-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  padding: 8px;
  border-radius: 10px;
}

#scale-input-container hr {
  color: white;
  width: 100%;
}

#scale-input-container h3 {
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0px;
  margin-top: 5px;
}

#scale-list-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.single-scale-input-container input {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.single-scale-input-container label {
  color: white;
  font-size: 1.8rem;
}

#scale-type-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  padding: 8px;
  border-radius: 10px;
}

#scale-type-input-container hr {
  color: white;
  width: 100%;
}

#scale-type-input-container h3 {
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0px;
  margin-top: 5px;
}

#scale-type-list-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.single-scale-type-input-container input {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.single-scale-type-input-container label {
  color: white;
  font-size: 1.8rem;
}

#scale-accidentals-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  padding: 8px;
  border-radius: 10px;
}

#scale-accidentals-input-container hr {
  color: white;
  width: 100%;
}

#scale-accidentals-input-container h3 {
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  margin: 0px;
  margin-top: 5px;
}

#scale-accidentals-list-input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.single-scale-accidental-input-container input {
  width: 1.3rem;
  height: 1.3rem;
  cursor: pointer;
}

.single-scale-accidental-input-container label {
  color: white;
  font-size: 1.8rem;
}

#setting-speed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 3px solid white;
  padding: 8px 4rem;
  border-radius: 10px;
}

#speed-value {
  color: white;
  font-size: 1rem;
}

#setting-speed-range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#setting-speed-range-container p {
  color: white;
  font-size: 1rem;
}

#setting-speed-range-container input[type="range"] {
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#setting-speed-range-container input[type="range"]::before {
  /* width: 300px; */
  content: attr(min);
  color: white;
  left: -20px;
  position: absolute;
  font-size: 1rem;
}

#setting-speed-range-container input[type="range"]::after {
  /* width: 300px; */
  content: attr(max);
  color: white;
  right: -50px;
  position: absolute;
  font-size: 1rem;
}

#setting-speed-range-container input[type="range"]:focus {
  outline: none;
}

#setting-speed-range-container input[type="range"]::-webkit-slider-thumb {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

#setting-speed label {
  color: white;
  font-size: 1.3rem;
}

#back-button {
  background-color: red;
  color: white;
  padding: 1rem 3rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition-duration: 200ms;
  font-size: 1.5rem;
  font-weight: 700;
}

#back-button:hover {
  transform: scale(1.02);
}

#back-button:active {
  transform: scale(0.98);
}
